.form{
    padding: 1rem;
}
.img{
    width: fit-content;
    margin: auto;
}
img{
  width: 100px;
  height: 100px;
}
i{
    color: #1976d2;
}

  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }
  
button{
  margin: 0%;
}